@use "../variables" as *;

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    a {
        color: $pf-sub-nav-link-color;
        font-size: 1rem;
        padding: 1rem;
        text-decoration: none;
        width: 10rem;

        &:hover {
            color: $pf-primary-color;
        }

        &.active {
            color: $pf-primary-color;
            font-weight: 500;
        }
    }
}
