@use "../variables" as *;

::-webkit-scrollbar {
    transition: none;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $pf-scrollbar-track-bg;
}

::-webkit-scrollbar-thumb {
    background: $pf-scrollbar-thumb-bg;
}

::-webkit-scrollbar-thumb:hover {
    background: $pf-scrollbar-thumb-hover-bg;
}
